.coursetour-carousel h1 {
  color: #fff;
  background-color: #2d2d2d;
  padding: 10px;
  border-radius: 5px;
}
coursetour .flexslider {
  margin: 0;
}
coursetour media .tab-content {
  border: 1px solid #ddd;
  border-top: 0;
}
coursetour aside .tab-content {
  border: 1px solid #ddd;
  border-top: 0;
}
.coursetour-nav {
  margin: auto;
  text-align: center;
}
.coursetour-desc, .coursetour-stats {
  background-color: #fff;
  padding: 15px;
}

.coursetour-stats .box {
  height: 30px;
  width: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  float: right;
}
.coursetour-stats .red {
  background-color: red;
}
.coursetour-stats .blue {
  background-color: blue;
}
.hole-wrapper::after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


/* Owl Carousel */
.owl-prev {
  cursor: pointer;
}
.owl-next {
  cursor: pointer;
}
.coursetour-nav .owl-dot {
  color: #222;
  font-size: 16px;
  display: inline-block;
  font-weight: 600;
  background-color: #f1f1f1;
  height: 35px;
  width: 35px;
  margin: 10px;
  line-height: 29px;
  border: 3px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
}
.coursetour-nav .owl-dot:hover {
  border-color: #00adff;
}
.coursetour-nav .active {
  color: #fff;
  background-color: #00639e;
  border-color: #00adff;
}
