/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url("fonts/flexslider-icon.eot");
  src: url("fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("fonts/flexslider-icon.woff") format("woff"), url("fonts/flexslider-icon.ttf") format("truetype"), url("fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.coursetour-wrapper {
  /*
   * jQuery FlexSlider v2.6.1
   * http://www.woothemes.com/flexslider/
   *
   * Copyright 2012 WooThemes
   * Free to use under the GPLv2 and later license.
   * http://www.gnu.org/licenses/gpl-2.0.html
   *
   * Contributing author: Tyler Smith (@mbmufffin)
   *
   */
  /* ====================================================================================================================
   * RESETS
   * ====================================================================================================================*/
  /* ====================================================================================================================
   * BASE STYLES
   * ====================================================================================================================*/
  /* ====================================================================================================================
   * DEFAULT THEME
   * ====================================================================================================================*/
  /* ====================================================================================================================
   * RESPONSIVE
   * ====================================================================================================================*/
}
.coursetour-wrapper .flex-container a:hover,
.coursetour-wrapper .flex-slider a:hover {
  outline: none;
}
.coursetour-wrapper .slides,
.coursetour-wrapper .slides > li,
.coursetour-wrapper .flex-control-nav,
.coursetour-wrapper .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.coursetour-wrapper .flex-pauseplay span {
  text-transform: capitalize;
}
.coursetour-wrapper .flexslider {
  margin: 0;
  padding: 0;
}
.coursetour-wrapper .flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.coursetour-wrapper .flexslider .slides img {
  width: 100%;
  display: block;
}
.coursetour-wrapper .flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.coursetour-wrapper html[xmlns] .flexslider .slides {
  display: block;
}
.coursetour-wrapper * html .flexslider .slides {
  height: 1%;
}
.coursetour-wrapper .no-js .flexslider .slides > li:first-child {
  display: block;
}
.coursetour-wrapper .flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
}
.coursetour-wrapper .flexslider .slides {
  zoom: 1;
}
.coursetour-wrapper .flexslider .slides img {
  height: auto;
  -moz-user-select: none;
}
.coursetour-wrapper .flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.coursetour-wrapper .loading .flex-viewport {
  max-height: 300px;
}
.coursetour-wrapper .carousel li {
  margin-right: 5px;
}
.coursetour-wrapper .flex-direction-nav {
  *height: 0;
}
.coursetour-wrapper .flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.coursetour-wrapper .flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.coursetour-wrapper .flex-direction-nav a.flex-next:before {
  content: '\f002';
}
.coursetour-wrapper .flex-direction-nav .flex-prev {
  left: -50px;
}
.coursetour-wrapper .flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}
.coursetour-wrapper .flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}
.coursetour-wrapper .flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.coursetour-wrapper .flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}
.coursetour-wrapper .flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.coursetour-wrapper .flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}
.coursetour-wrapper .flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.coursetour-wrapper .flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.coursetour-wrapper .flex-pauseplay a:hover {
  opacity: 1;
}
.coursetour-wrapper .flex-pauseplay a.flex-play:before {
  content: '\f003';
}
.coursetour-wrapper .flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
.coursetour-wrapper .flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.coursetour-wrapper .flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.coursetour-wrapper .flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.coursetour-wrapper .flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
.coursetour-wrapper .flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.coursetour-wrapper .flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.coursetour-wrapper .flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.coursetour-wrapper .flex-control-thumbs img:hover {
  opacity: 1;
}
.coursetour-wrapper .flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
@media screen and (max-width: 860px) {
  .coursetour-wrapper .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .coursetour-wrapper .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}

.coursetour-wrapper {
  position: relative;
  /* Course Tour Navigation */
  /* Flexslider */
}
.coursetour-wrapper .coursetour-carousel h1 {
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.coursetour-wrapper .coursetour-carousel h1 .owl-prev {
  cursor: pointer;
}
.coursetour-wrapper .coursetour-carousel h1 .owl-next {
  cursor: pointer;
}
.coursetour-wrapper .flexslider {
  margin: 0;
}
.coursetour-wrapper .coursetour-media .tab-content, .coursetour-wrapper .coursetour-aside .tab-content {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  margin-bottom: 15px;
}
.coursetour-wrapper .coursetour-media {
  padding-left: -15px;
  padding-right: -15px;
}
@media screen and (max-width: 992px) {
  .coursetour-wrapper .coursetour-media {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.coursetour-wrapper .coursetour-aside {
  padding-right: -15px;
}
@media screen and (max-width: 992px) {
  .coursetour-wrapper .coursetour-aside {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.coursetour-wrapper .coursetour-loader {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 900;
}
.coursetour-wrapper .coursetour-loader .coursetour-loader-spinner {
  width: 100px;
  height: 100px;
  background-image: url(../images/loading_spinner.gif);
  background-size: cover;
  position: absolute;
  z-index: 1000;
}
.coursetour-wrapper .coursetour-desc, .coursetour-wrapper .coursetour-stats {
  padding: 15px;
}
.coursetour-wrapper .coursetour-stats .box {
  height: 30px;
  width: 30px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  float: right;
  border-width: 1px;
  border-style: solid;
}
.coursetour-wrapper .hole-wrapper::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.coursetour-wrapper .coursetour-nav {
  margin: auto;
  text-align: center;
}
.coursetour-wrapper .coursetour-nav .owl-dot {
  font-size: 16px;
  display: inline-block;
  font-weight: 600;
  height: 35px;
  width: 35px;
  margin: 8px;
  line-height: 29px;
  border-width: 3px;
  border-style: solid;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}
.coursetour-wrapper .flex-direction-nav a {
  padding-top: 10px;
}
.coursetour-wrapper .flex-direction-nav a, .coursetour-wrapper .flex-direction-nav a:before {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.coursetour-fck {
  display: none;
}
